/* font-family: 'Lekton', sans-serif;
 font-family: 'Lexend Tera', sans-serif; */

 /* GLOBAL STYLES */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lekton', sans-serif;
}

h1, h2 {
    font-family: 'Lexend Tera', sans-serif;
}


/* NAVIGATION */

nav ul {
    padding: 25px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    color: white;
}

nav ul li {
    padding: 20px 20px 0px 20px;
}

nav ul li:nth-child(4) {
    background-color: #21f721;
    padding: 10px;
    margin-top: 10px;
    border-radius: 50px;
    color: black;
    font-weight: bold;
}

/* HERO AREA */

header {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)),url(/img/bg1.jpeg);
    background-size: cover;
    height: 100vh;
    
}

.hero {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    /* border: red solid 1px; */
}

.hero-title h1 {
    font-size: 42px;
    margin-top: 0;
}

.hero-desc {
    font-size: 24px;
    justify-content: center;
}


/* PORTFOLIO/PROJECTS */

.portfolio {
    background-color: #eeefda;
    text-align: center;
    padding-bottom: 50px;
}

.portfolio-title {
    padding: 35px;
    font-size: 32px;
    margin: 0;
}

/* Project Cards */

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
  }
  
.card-container {
    background: white;
    width: 400px;
    margin: 25px;
    border-radius: 25px;
    text-align: left;
    box-shadow: 2px 2px 7px 4px rgba(20,20,20,0.4);
}

.text-container {
    padding: 25px;
}

span {
    font-weight: bold;
}

.image img {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 100%;
    height: 200px;
    border-bottom: 2px #eeefda solid;
    filter: sepia(1%);
}

.card-button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.btn {
    margin-bottom: 20px;
}
/* End of Project Cards */


/*  SKILLS  */

.skills {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #cac691;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 75px;
    background-color: #152a3e;
    text-align: center;
}

.skills-container {
    width: 85%;
}

.skills-title {
    margin: 0;
    padding: 20px;
}

.skills-list, .toolz-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 60%;
}

.skillz, .toolz {
    flex-wrap: wrap;
    width: 45%;
    padding: 20px;
    margin: 10px;
    border-radius: 2px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #152a3e;
    background-color: #cac691;
    box-shadow: 2px 2px 7px 4px rgba(20,20,20,0.4);
}

.toolz-title {
    padding-top: 50px;
}

.tools-ul {
    display: flex;
    justify-content: space-around;
}

.tools-ul li {
    list-style-type: none;
    padding: 20px;
    border-radius: 2px;
    font-weight: bolder;
    color: #152a3e;
    background-color: #cac691;
    box-shadow: 2px 2px 7px 4px rgba(20,20,20,0.4);
}


/* ABOUT */

.about {

}

.about-container {
    background: url(../img/about\ background.jpeg);
    background-size: cover;
    min-height: 700px;
}

.about-me {
    display: flex;
    justify-content: center;
    font-size: 36px;
}

ul {
    margin: 0;
}


/* CONTACT */

.contact {
    background-color: ;
}