/* font-family: 'Lekton', sans-serif;
 font-family: 'Lexend Tera', sans-serif; */

 /* Global styles */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lekton', sans-serif;
}

h1 {
    font-family: 'Lexend Tera', sans-serif;
}

/* Navigation */

nav ul {
    padding: 25px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    color: white;
}

nav ul li {
    padding: 10px;
}

/* Hero area */

header {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)),url(/img/bg1.jpeg);
    background-size: cover;
    height: 100vh;
    
}

.hero {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    /* border: red solid 1px; */
}

/* Projects */

.portfolio {
    background-color: #eeefda;
    text-align: center;
}

.portfolio-title {
    padding: 20px;
    margin: 0;
}

/* Project Cards */

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
  }
  
  .card-container {
    background: white;
    width: 350px;
    margin: 25px;
    border-radius: 25px;
    text-align: left;
    box-shadow: 2px 2px 7px 4px rgba(20,20,20,0.4);
  }
  
  .text-container {
      padding: 20px;
  }

  span {
      font-weight: bold;
  }
  
  .image img {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 100%;
    height: 200px;
    border-bottom: 2px #eeefda solid;
    filter: sepia(1%);
  }

  .image img {
      
  }
  
  .card-button {
    display: flex;
    justify-content: center;
  }
  
  .btn {
    margin-bottom: 20px;
    align-items: flex-end;

  }

  /* About Me Section */

  .about-container {
    background: url(../img/about\ background.jpeg);
    background-size: cover;
    min-height: 700px;
  }

  .about-me {
      display: flex;
      justify-content: center;
      font-size: 36px;
  }

  ul {
    margin: 0;
  }

  .skills {
    margin: 0;
  }